{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}


{% block main %}
<div class="container6">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h2 class="text-center text-dark mt-5">Login</h2>
      <div class="card my-5">

        <form class="card-body cardbody-color p-lg-5" action="/login" method="post">

          <div class="text-center">
            <img src="https://cdn.pixabay.com/photo/2017/08/06/22/01/books-2596809_960_720.jpg" class="img-fluid profile-image-pic img-thumbnail rounded-circle my-3"
              width="200px" alt="profile">
          </div>

          <div class="mb-3">
            <input type="text" class="form-control" id="Username" aria-describedby="emailHelp"
              placeholder="User Name" name="username">
          </div>
          <div class="mb-3">
            <input type="password" class="form-control" id="password" placeholder="password" name="password">
          </div>
          <div class="text-center"><button type="submit" class="btn btn-color px-5 mb-5 w-100">Login</button></div>
          <div id="emailHelp" class="form-text text-center mb-5 text-dark">Not
            Registered? <a href="/register" class="text-dark fw-bold"> Create an
              Account</a>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>
<script type="text/javascript" src="{{ url_for('static', filename='letras.js') }}"></script>
{% endblock %}